
@{
    ViewBag.Title = "Update Product";
}

@model SSTest.WebClient.ViewModel.ProductViewModel
<h2>Update Product</h2>

@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "name" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @id = "price" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
           @Html.Label("Photo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                <img src="/Helper/ShowImage.ashx?id=@Model.Id" width="100" height="100" /><br /><br />
                <input type="file" id="imageUpload" name="Image" /><br /><br />
               
                
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Product" class="btn btn-danger" />
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Photo)
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
      
    </div>
}
          
